.app-header {
    display: flex;
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding-block: 1em;
    flex-direction: row;
    align-items: space-between;
}

nav {
    display: flex;
}